@import 'tailwindcss';
@plugin 'tailwindcss-animate';
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "./tailwind-plugin/tw-theme";
@plugin "./tailwind-plugin/tw-bs-grid";
@custom-variant dark (&:where(.dark, .dark *));
@import "./safe.css";
@import "./utilities.css";
@layer base {
  @import "./base.css";
}
@layer components {
  @import "./components.css";
  @import "./navigation.css";
  @import "./buttons.css";
}
.iiz__hint {
  @apply rounded-md;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f2f2f2 inset;
}
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.9) inset;
}
.dark input:-webkit-autofill {
  -webkit-text-fill-color: #ddd;
}

/*-----------------*/

/* @import "tailwindcss";




 */
